<!DOCTYPE html>
<html lang="en">
  <%= render "head.html", conn: @conn %>
  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li>
            </li>
          </ul>
        </nav>
        <span class="logo"></span>
        <%= render "navigation.html", conn: @conn %>
      </header>

      <%= render "alerts.html", conn: @conn %>

      <main role="main row content">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <%= render "script.html", conn: @conn %>
  </body>
</html>
